# <center> Data Preparation </center>
## <center> Step 1 <center>

------

In [13]:
# Constants
DATA_PATH_CHILD  = '../data/raw/G2000_data.csv'
DATA_PATH_PARENT = '../data/raw/EthA_data.csv'
EXPORT_PATH = '../data/processed/1_first_processed_merged_df.pkl'

In [14]:
import pandas as pd

In [15]:
raw_df_child = pd.read_csv(DATA_PATH_CHILD)

In [16]:
df_child = raw_df_child.copy()

In [17]:
raw_df_parent = pd.read_csv(DATA_PATH_PARENT)

In [18]:
df_parent = raw_df_parent.copy()

-----

<center> - Creating a new column in the DataFrame and assigning values based on concatenating the values from two existing columns <center>

<center>** full sequence of alleles **</center>

-----

## For child

In [19]:
df_child.sample(3)

,Name,Gender,ParentM,ParentF,EthA,EthE,EthK,EthP,Allele1,Allele2
6178,G20006178,M,A6830,A13812,1.0,0.0,0.0,0.0,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
11232,G200011232,M,A2577,A4723,1.0,0.0,0.0,0.0,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
726,G2000726,M,A12918,A9232,1.0,0.0,0.0,0.0,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...

- length of the sequence before applying the function to take the first 1000 bases of the sequence from allele 1

In [20]:
# Check the length of the sequence before truncating to 1000 bases
len(df_child['Allele1'].iloc[0])

39108

In [21]:
# Truncate Allele sequences to the first 1000 bases and concatenate
df_child['Allele1'] = df_child['Allele1'].apply(lambda x : ''.join(x[:1000]))
df_child['Allele2'] = df_child['Allele2'].apply(lambda x : ''.join(x[:1000]))
df_child['Full_seq_dna_child']= df_child['Allele1'] + df_child['Allele2']

- length of the sequence after applying the function to take the first 1000 bases of the sequence

In [22]:
len(df_child['Allele1'].iloc[0])

1000

In [23]:
df_child

,Name,Gender,ParentM,ParentF,EthA,EthE,EthK,EthP,Allele1,Allele2,Full_seq_dna_child
0,G20000,M,A13244,A5248,1.0,0.0,0.0,0.0,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
1,G20001,F,A13244,A5248,1.0,0.0,0.0,0.0,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
2,G20002,F,A13244,A5248,1.0,0.0,0.0,0.0,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
3,G20003,F,A13244,A5248,1.0,0.0,0.0,0.0,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
4,G20004,M,A8050,A8796,1.0,0.0,0.0,0.0,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
...,...,...,...,...,...,...,...,...,...,...,...
21887,G200021887,F,A6009,A9165,1.0,0.0,0.0,0.0,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
21888,G200021888,F,A693,A9165,1.0,0.0,0.0,0.0,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATCCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATCCCCGTG...
21889,G200021889,F,A693,A9165,1.0,0.0,0.0,0.0,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
21890,G200021890,M,A693,A9165,1.0,0.0,0.0,0.0,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATCCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATCCCCGTG...
21891,G200021891,F,A693,A9165,1.0,0.0,0.0,0.0,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATCCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATCCCCGTG...

Full sequence of dna after applying the function to take the first 1000 bases of the sequence in allel 1 and 2 respectively
- Length of Full sequence of DNA of child after concatenating allel 1 and 2 with 1000 bases from each one

In [24]:
# Check the length of the full concatenated sequence for child
len(df_child['Full_seq_dna_child'].iloc[0])

2000

## For parent 

- same process we made for child

In [25]:
# Display a sample of the parent DataFrame
df_parent.sample(3)

,Name,Gender,ParentM,ParentF,EthA,EthE,EthK,EthP,Allele1,Allele2
11052,A11052,M,Na,Na,1,0,0,0,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
10905,A10905,F,Na,Na,1,0,0,0,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
4952,A4952,M,Na,Na,1,0,0,0,CTCCGTCGGCGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...

- length of the sequence before applying the function to take the first 1000 bases of the sequence from allel 1

In [26]:
# Check the length of the sequence before truncating to 1000 bases
len(df_parent['Allele1'].iloc[0])

39108

In [27]:
# Truncate Allele sequences for parent to the first 1000 bases and concatenate
df_parent['Allele1'] = df_parent['Allele1'].apply(lambda x : ''.join(x[:1000]))
df_parent['Allele2'] = df_parent['Allele2'].apply(lambda x : ''.join(x[:1000]))
df_parent['Full_seq_dna_parent']= df_parent['Allele1'] + df_parent['Allele2']

- length of the sequence of parent after applying the function to take the first 1000 bases of the sequence

In [28]:
# Check the length of the sequence after truncating to 1000 bases
len(df_parent['Allele1'].iloc[0])

1000

Full sequence :
- Length of Full sequence of DNA of parent after concatenating allel 1 and 2 with 1000 bases from each one

In [31]:
# Check the length of the full concatenated sequence for parent
len(df_parent['Full_seq_dna_parent'].iloc[0])

2000

## Preparing data for tests

In [32]:
# Prepare data for tests
# make copy of G2000 ['ParentM','ParentF','Child_full_DNA_Seq']
df_child_data_copy = df_child[['ParentM','ParentF','Full_seq_dna_child']]

In [33]:
# Display information of (df_child_data_copy) G2000 ['ParentM','ParentF','Child_full_DNA_Seq']
df_child_data_copy.sample(10)

      ParentM ParentF                                 Full_seq_dna_child
19956   A4327  A10381  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
12242  A13489  A11339  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
20426   A3640   A4432  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
16098  A11247   A6689  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
5727   A10565   A9861  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
9695    A4347  A10041  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTTCCGTG...
16176  A13154  A12164  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
11163   A5119   A3098  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
21634   A2881   A1394  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
11182   A2480   A3650  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...

In [34]:
# make copy of EthA ['Name','Parent_full_DNA_Seq']
df_parent_data_copy = df_parent[['Name','Full_seq_dna_parent']]

In [35]:
df_parent_data_copy.sample(10)

         Name                                Full_seq_dna_parent
233      A233  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
4545    A4545  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
2010    A2010  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTA...
14197  A14197  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
10713  A10713  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
7398    A7398  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
886      A886  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
8292    A8292  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
287      A287  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
14841  A14841  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...

In [36]:
# import re 
# df_test = pd.read_csv('test_child.csv')
# def remove_numbers(text):
#     return re.sub(r'\d+', '', text)
# # Apply the function to the 'Parent_full_DNA_Seq' column
# df_test['Parent_full_DNA_Seq'] = df_test['Parent_full_DNA_Seq'].apply(remove_numbers)
# # Print the modified DataFrame
# print(df_test)

## Extracting DNA sequences of parents for tests

### Test-a

In [37]:
# Extract DNA sequences for specific parents for tests
df_parent_data_copy[df_parent_data_copy['Name'] == 'A8184']

       Name                                Full_seq_dna_parent
8184  A8184  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...

In [38]:
first_parent = df_parent_data_copy[df_parent_data_copy['Name'] == 'A8184']['Full_seq_dna_parent'].iloc[0]

In [39]:
len(first_parent)

2000

In [40]:
# with open('ParentM_A8184.txt', 'w') as file:
#     file.write(first_parent)

In [41]:
df_parent_data_copy[df_parent_data_copy['Name'] == 'A13904']

         Name                                Full_seq_dna_parent
13904  A13904  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGACTCCCGTG...

In [42]:
second_parent = df_parent_data_copy[df_parent_data_copy['Name'] == 'A13904']['Full_seq_dna_parent'].iloc[0]

In [43]:
len(second_parent)

2000

In [44]:
# with open('ParentM_A13904.txt', 'w') as file:
#     file.write(second_parent)

In [45]:
df_parent_data_copy[df_parent_data_copy['Name'] == 'A4285']

       Name                                Full_seq_dna_parent
4285  A4285  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...

In [46]:
Third_parent_b = df_parent_data_copy[df_parent_data_copy['Name'] == 'A14108']['Full_seq_dna_parent'].iloc[0]

In [47]:
len(Third_parent_b)

2000

In [48]:
# with open('ParentF_A14108.txt', 'w') as file:
#     file.write(Third_parent_b)

### Test-b

In [49]:
# Third_parent = df_parent_data_copy[df_parent_data_copy['Name'] == 'A4285']['Full_seq_dna'].iloc[0]

In [50]:
# with open('ParentM_A4285.txt', 'w') as file:
#     file.write(Third_parent)

In [51]:
# fourth_parent = df_parent_data_copy[df_parent_data_copy['Name'] == 'A4427']['Full_seq_dna'].iloc[0]

In [52]:
# with open('ParentF_A4427.txt', 'w') as file:
#     file.write(Third_parent)

In [53]:
# fifth_parent = df_parent_data_copy[df_parent_data_copy['Name'] == 'A14919']['Full_seq_dna'].iloc[0]

In [54]:
# with open('ParentF_A14919.txt', 'w') as file:
#     file.write(fifth_parent)

-----

## **Merging Operation**

-----

**Merging :**

Merge the dataframes using the `Name` column as the key. The key column for merging is located in the `df_parent` dataframe.


**Keys in `df_child` DataFrame:**

- Left DataFrame Key (`left_on`): `Name`
- Right DataFrame Key (`right_on`): `Father or Mother`

------

In [55]:
# Merging Once with Father and Once with Mother
parent_child_merge_father = pd.merge(df_parent_data_copy , df_child_data_copy , left_on = 'Name' , right_on= 'ParentF')
parent_child_merge_mother = pd.merge(df_parent_data_copy , df_child_data_copy , left_on = 'Name' , right_on= 'ParentM')

In [56]:
# check each dataframe
parent_child_merge_father.sample(10 , random_state= 42)

,Name,Full_seq_dna_parent,ParentM,ParentF,Full_seq_dna_child
17155,A11756,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A9729,A11756,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
8157,A5367,CTCCGTCGACGCTTTAGGGACATAGATAGGAGCTCTGATTCCCGTG...,A2221,A5367,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
3635,A2413,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A3421,A2413,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
19125,A13111,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A7098,A13111,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
3002,A2040,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTA...,A399,A2040,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
640,A427,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A3436,A427,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
199,A128,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A501,A128,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
7916,A5218,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A12519,A5218,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
14741,A10014,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A6059,A10014,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
17181,A11782,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A9370,A11782,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...

-----

- ` here when we check example row 1 we see that Name = 'A11756' and ParentF = 'A11756' and ParentM = 'A9729'`

- ` From this we can say that they are the same person`

- ` From data source they say that Name is unique identifier for a person`

- ` Finally, we conclude that Name is Father of the child `

------

In [57]:
parent_child_merge_mother

,Name,Full_seq_dna_parent,ParentM,ParentF,Full_seq_dna_child
0,A10,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A10,A6941,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
1,A10,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A10,A6941,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
2,A10,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A10,A6941,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
3,A10,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A10,A6941,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
4,A12,CCCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A12,A13030,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
...,...,...,...,...,...
21887,A14997,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A14997,A1357,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
21888,A14997,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A14997,A4244,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
21889,A14997,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A14997,A4244,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
21890,A14997,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A14997,A4244,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
21891,A14997,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A14997,A4244,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...

- For Father:

In [58]:
# Clean up and combine the merged dataframes
cleaned_data_first_part = parent_child_merge_father.drop(columns=['ParentM', 'ParentF'])
cleaned_data_first_part

,Name,Full_seq_dna_parent,Full_seq_dna_child
0,A0,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTTCCGTG...
1,A0,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTTCCGTG...
2,A0,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGACTCCCGTG...
3,A0,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTTCCGTG...
4,A1,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
...,...,...,...
21887,A14988,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
21888,A14988,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
21889,A14988,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
21890,A14988,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
21891,A14988,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...

In [59]:
first_merged_df= pd.concat([cleaned_data_first_part, parent_child_merge_mother])

-----

## Verify results

-----

In [62]:
# Display a sample of the final merged DataFrame
first_merged_df.sample(10)

,Name,Full_seq_dna_parent,Full_seq_dna_child,ParentM,ParentF
14743,A10005,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A10005,A9287
20215,A13863,CTCCGTCGGCGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A13863,A2902
3346,A2118,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A2118,A6707
4063,A2696,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTTCCGTG...,NaN,NaN
9006,A6135,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A6135,A4073
3787,A2369,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTTATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A2369,A6468
13130,A8882,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGACTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A8882,A5076
15515,A10536,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A10536,A2503
8283,A5435,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,NaN,NaN
11450,A7700,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,NaN,NaN

-----

# Export Data

-----

In [61]:
first_merged_df.to_pickle(EXPORT_PATH)